// Active & errors colors

$Lineargradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$color-error: hsl(0, 100%, 66%);

// Neutral
$White: hsl(0, 0%, 100%);
$LightGrayish : hsl(270, 3%, 87%);
$DarkGrayish : hsl(279, 6%, 55%);
$VeryDark : hsl(278, 68%, 11%);

// Font Family
$family:'Space Grotesk', sans-serif;