@import "../abstract/mixins";
@import "../abstract/breakPoints";
.card {
  display: flex;
  position: relative;
  & {
    @media screen and (max-width: $screenXxs) {
      flex-direction: column;
    }
  }
  &__frontCard {
    position: absolute;
    top: 164px;
    left: calc(100vw / 3 - 372px);
    & {
      @media screen and (max-width: $screenS) {
        left: calc(100vw / 3 - 214px);
      }
      @media screen and (max-width: $screenXs) {
        display: none;
      }
      @media screen and (max-width: $screenXxs) {
        display: block;
        left: calc(100vw / 3 - 57px);
        top: 6.33rem;
        z-index: 20;
      }
    }
    &-size {
      @media screen and (max-width: $screenS) {
        width: 19rem;
      }
      @media screen and (max-width: $screenXxs) {
        width: 14rem;
      }
    }

    &-bottominfo {
      display: flex;
      justify-content: space-around;
      width: 100%;
      position: absolute;
      top: 14rem;
      & {
        @media screen and (max-width: $screenS) {
          font-size: 1rem;
          top: 8rem;
        }
        @media screen and (max-width: $screenXxs) {
          font-size: 0.6rem;
          top: 6.4rem;
        }
      }
    }

    &-information {
      position: absolute;
      top: 10rem;
      left: 2.5rem;
      color: $White;
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
      & {
        @media screen and (max-width: $screenS) {
          font-size: 1rem;
          top: 6rem;
          left: 1rem;
        }
        @media screen and (max-width: $screenXxs) {
          font-size: 0.77rem;
          top: 5rem;
        }
      }
    }

    &-name {
      color: $White;
      letter-spacing: 0.2rem;
    }

    &-expDate {
      color: $White;
      letter-spacing: 0.2rem;
    }

    &-circle {
      width: 2rem;
      background-color: $White;
      height: 2rem;
      border-radius: 50%;
      position: absolute;
      top: 1rem;
      left: 1rem;

      &::after {
        content: "";
        width: 64%;
        height: 64%;
        background-color: transparent;
        left: 39px;
        border: 0.1rem solid $White;
        border-radius: 50%;
        position: absolute;
        top: 5%;
      }
    }
  }

  &__backCard {
    position: absolute;
    left: calc(100vw / 3 + -214px);
    top: 29rem;
    & {
      @media screen and (max-width: $screenXs) {
        display: none;
      }
      @media screen and (max-width: $screenXxs) {
        display: block;
        left: calc(100vw / 3 + -17px);
        top: 2rem;
      }
    }
    &-size {
      @media screen and (max-width: $screenS) {
        width: 19rem;
      }
      @media screen and (max-width: $screenXxs) {
        width: 14rem;
      }
    }

    &-information {
      position: absolute;
    }
    &-CVC {
      position: absolute;
      color: $White;
      letter-spacing: 0.2rem;
      top: 7.49rem;
      left: 23.5rem;
      & {
        @media screen and (max-width: $screenS) {
          top: 4.49rem;
          left: 14.5rem;
        }
        @media screen and (max-width: $screenXxs) {
          top: 3.4rem;
          left: 10.4rem;
          font-size: 0.77rem;
        }
      }
    }
  }

  &__leftFace {
    height: 100vh;
    width: calc(100vw / 3);
    margin-right: 15.6rem;
    & {
      @media screen and (max-width: $screenS) {
        margin-right: 0;
      }
      @media screen and (max-width: $screenXxs) {
        height: 15rem;
        width: 100vw;
      }
      @media screen and (max-width: $screenXxs) {
        margin-bottom: 4rem;
      }
    }
  }

  &__label {
    display: block;
  }

  &__container {
    width: 29rem;
    & {
      @media screen and (max-width: $screenS) {
        width: 22rem;
      }
      @media screen and (max-width: $screenXs) {
        width: 17rem;
      }
    }
  }

  &__container-form {
    margin-bottom: 1.7rem;
    position: relative;
    &::after {
      content: attr(data-error);
      position: absolute;
      width: 100%;
      color: red;
      top: 5.2rem;
      left: 0;
      text-transform: capitalize;
      font-size: 0.75rem;
      font-weight: 800;
    }
  }

  &__label {
    font-size: 1rem;
    margin-bottom: 0.4rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    & {
      @media screen and (max-width: $screenS) {
        font-size: 0.7rem;
      }
    }
    &-size {
      @media screen and (max-width: $screenXs) {
        width: 8rem;
      }
    }
    &-CVC {
      & {
        @media screen and (max-width: $screenXs) {
          // margin-bottom: 1.4rem;
        }
      }
    }
  }

  &__rightFace {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid $LightGrayish;
    border-radius: 0.4rem;
    font-weight: 600;
    &::placeholder {
      color: darken($LightGrayish, 10);
    }

    &:focus {
      outline: none;
    }

    &-size {
      width: 5rem;
      & {
        @media screen and (max-width: $screenS) {
          width: 3.5rem;
        }
      }
    }
  }

  &__container-date {
    display: flex;
    position: relative;
  }

  &__container-form-4 {
    margin-left: 0.5rem;
    width: 58%;
    position: relative;
  }

  &__button {
    @include button(100%, 1rem, $VeryDark);
  }
  &__error {
    border: 0.1rem solid $color-error;
    position: realative;
  }
}
